@inherits LayoutComponentBase

<PageTitle>CreditCard-CC</PageTitle>
<header class="bg-slate-200">
<div class="px-4 w-[80%] mx-auto flex items-center justify-between">
  <NavLink href="/">
  <img class="" src="/images/card.svg"/>
    </NavLink>

  <NavLink href="cards">
    <div>Submitted Cards</div>
  </NavLink>
</div>
</header>

<main class="py-20">@Body</main>
